!!!
%html
  %head
    %title Assignment
    = stylesheet_link_tag    'application'
    =  javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}
  %body
    = render partial: 'layouts/header'
    .col-md-12
      - if notice.present?
        .alert.alert-success
          %strong Success :
          = notice
      - if warning.present?
        .alert.alert-success
          %strong Warning :
          = warning

    = yield
:javascript
  $('.alert').delay(5000).fadeOut('slow');
  
